.panel{
    height: 400px !important;
    width: 500px !important;
    margin-top: 100px !important;
    border-radius: 1rem !important;
    background-color: rgb(156, 145, 147);
}
.btn{
    float: right;
}
